.preview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  margin-top: 1rem;
  border-radius: 4px;
  color: #f3f4f6;
  font-size: 4vw;
  background-color: #262626;
}
